<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_user_article_path(@user, @article) %>
<%= link_to 'Back', user_path(@user) %>
